body {
  background-color: pink;
}

.jumbotron {
border-radius: 60%;
border: solid 10px black;
}

h1 {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-align: center;
}

#nameInput {
  margin: 15px;
}

.nameBtn {
  background-color: lightblue;
  border: solid 3px black;
}

.btn {
  background-color: lightblue;
  border: solid 3px black;
}

.outputNum {
  padding: 10px;
  margin: 10px;
  border: dotted 2px green;
}

.greetUser {
  display: none;
}
